<!--
 This is a upper level launch file which calls the control_launch file which in turns launchs a group containing the control
 node and the formation node
-->
<launch>
	
	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="1" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="2" />
	</include>
<!--
	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="3" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="4" /><node name="listener-1" pkg="rospy_tutorials" type="listener" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="5" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="6" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="7" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="8" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="9" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="10" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="11" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="12" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="13" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="14" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="15" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="16" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="17" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="18" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="19" />
	</include>

	<include file="$(find swarm_control)/launch/control_launch.launch">
	    <arg name="mav_id" value="20" />
	</include>
-->
</launch>
